html, body    {
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5vh;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.winner-container {
    height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#winner {
    font-weight: bolder;
    font-size: 5vh;
    padding: 8px;
    align-self: center;
    animation: 1s anim-flipX ease 1;
}

@keyframes anim-flipX {
    0% {
        opacity: 0;
        transform: rotateX(90def);
    }
    50% {
        opacity: 1;
        transform: rotateX(720deg);
    }
    100% {
        opacity: 1;
        transform: rotate(720deg);
    }
}

.buttons-container {
    text-align: center;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

button {
    border: 2px solid white;
    background-color: white;
    height: 20vh;
    cursor: pointer;
    align-items: center;
}

img {
    height: 100%;
}

.play-button {
    opacity: 0.4;
}

.play-button:hover {
    opacity: 1;
}

#score-container {
    max-width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#player, #computer {
    margin: 5vw;
    text-align: center;
}